#imageRandom{
    width: 250px;
    height: 250px;
    border-radius: 15px;

  }

h1 {
      font-family: 'BPscript', sans-serif;
  }

p {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#button1 {
  background-color: rgba(0, 38, 23, 0.603);
  border: none;
  border-radius: 15px;
}
