
html {
    padding: 10px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

[class*="col"] {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

#navbarSupportedContent {
    font-size: 20px;
    padding: 30px;
    
}

.img {
    height: 1px;
    margin: 1px;
    padding: 30px;
}

.close {
    font-size: 1.5rem;
  }
  
  .col-12 img {
    opacity: 0.7;
    cursor: pointer;
    margin: 1rem;
    width: 100%;
    padding: 30px;
  }
  
  .col-12 img:hover {
    opacity: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #button {
    background-color: rgba(0, 60, 36, 0.603);
    border: none;
}